<%= form_for(normal_hour) do |f| %>
  <% if normal_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralizer(normal_hour.errors.count, "error") %> prohibited this normal_hour from being saved:</h2>

      <ul>
      <% normal_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @normal_hour.resource_type == nil %>
    <div class="field">
      <%= f.label :resource_type, "Select A Location Type" %>
      <%= f.select :resource_type, ['library', 'department']%>
    </div>
  <% end %>

  <% if @normal_hour.resource_type == "library" %>
      <%= render :partial => 'admin/normal_hours/form_helpers/library_select', :locals => {:f => f} %>
  <% elsif @normal_hour.resource_type == "department" %>
      <%= render :partial => 'admin/normal_hours/form_helpers/department_select', :locals => {:f => f} %>
  <% else %>
      <%= render :partial => 'admin/normal_hours/form_helpers/library_select', :locals => {:f => f} %>
      <%= render :partial => 'admin/normal_hours/form_helpers/department_select', :locals => {:f => f} %>
  <% end %>


  <div class="field">
    <%= f.label :day_of_week %>
    <%= f.text_field :day_of_week %>
  </div>

  <div class="field">
    <%= f.label :open_time %>
    <%= f.time_field :open_time, id: "timepicker" %>
  </div>

  <div class="field">
    <%= f.label :close_time %>
    <%= f.time_field :close_time, id: "timepicker" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<script type='text/javascript'>
   $(document).on("change","#normal_hour_resource_type", function (){
      var selectValue = $(this).val();
      var $resourceContainer = $('.resoure_id');
   });
   $(function(){
     $('#normal_hour_resource_type').change();
   });
</script>

<% end %>
