<div class="normal_hours_form">
<%= form_for(normal_hour) do |f| %>
  <% if normal_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralizer(normal_hour.errors.count, "error") %> prohibited this normal_hour from being saved:</h2>

      <ul>
      <% normal_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @normal_hour.resource_type == nil %>
    <div class="field">
      <%= f.label :resource_type, "Select A Location Type" %>
      <%= f.select :resource_type, ['library', 'department']%>
    </div>
  <% end %>

  <div class="department field">
    <%= f.label :resource_id, 'Location' %>
    <%= f.collection_select(:resource_id, Department.all, :id, :reformat_name, {}, {:class=>'department'}) %>
  </div>

  <div class="library field">
    <%= f.label :resource_id, 'Location' %>
    <%= f.collection_select(:resource_id, Library.all, :id, :name, {}, {:class=>'library'})  %>
  </div>

  <div class="field">
    <%= f.label :day_of_week %>
    <%= f.select :day_of_week, Date::DAYNAMES.zip((0..6).to_a)%>
  </div>

  <div class="field">
    <%= f.label :open_time %>
    <%= f.time_field :open_time, :value => normal_hour.hr_open_time, id: "timepicker", :class => "timepicker" %>

  </div>

  <div class="field">
    <%= f.label :close_time %>
    <%= f.time_field :close_time, :value => normal_hour.hr_close_time, id: "timepicker", :class => "timepicker" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
