<div class="special-hour-form">
<%= form_for(special_hour) do |f| %>
  <% if special_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(special_hour.errors.count, "error") %> prohibited this special_hour from being saved:</h2>

      <ul>
      <% special_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :special_type, "Select A Location Type" %>
    <%= f.select :special_type, ['library', 'department']%>
  </div>

  <div class="field department">
    <%= f.label :special_id, 'Location' %>
    <%= f.collection_select(:special_id, Department.all, :id, :reformat_name) %>
  </div>

  <div class="field library">
    <%= f.label :special_id, 'Location' %>
    <%= f.collection_select(:special_id, Library.all, :id, :name)  %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, :value => special_hour.hr_start_date, :class => "datepicker" %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, :value => special_hour.hr_end_date, :class => "datepicker" %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :open_time %>
    <%= f.text_field :open_time, :value => special_hour.hr_open_time, :class => "timepicker"  %>
  </div>

  <div class="field">
    <%= f.label :close_time %>
    <%= f.text_field :close_time, :value => special_hour.hr_close_time, :class => "timepicker" %>
  </div>


  <div class="field">
    <%= f.label :open_24 %>
    <%= f.check_box :open_24 %>
  </div>

  <div class="field">
    <%= f.label :no_close_time %>
    <%= f.check_box :no_close_time %>
  </div>

  <div class="field">
    <%= f.label :no_open_time %>
    <%= f.check_box :no_open_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
