<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @special_hour.hr_start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @special_hour.hr_end_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @special_hour.name %>
</p>

<p>
  <strong>Open time:</strong>
  <%= @special_hour.hr_open_time %>
</p>

<p>
  <strong>Close time:</strong>
  <%= @special_hour.hr_close_time %>
</p>

<p>
  <strong>Open 24:</strong>
  <%= @special_hour.open_24 %>
</p>

<p>
  <strong>No close time:</strong>
  <%= @special_hour.no_close_time %>
</p>

<p>
  <strong>No open time:</strong>
  <%= @special_hour.no_open_time %>
</p>

<%= link_to 'Edit', edit_special_hour_path(@special_hour) %> |
<%= link_to 'Back', special_hours_path %>
