<!DOCTYPE html>
<html>
  <head>
    <title> WVU Libraries :: Lib Management Tool :: Admin </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header -->
    <header>
      <h1> Library Management Tool </h1>
      <nav>
        <a href="" class="button js-menu-trigger sliding-panel-button">
          <i class="fa fa-bars" aria-hidden="true"></i> Menu
        </a>
      </nav>
    </header>

    <!-- Flash Messages / Alerts -->
    <% flash.each do |key, value| %>
      <div class="alert <%= key %>">
        <div class="content"> <%= value %> </div>
        <span class="exit-alert"> <i class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
      </div>
    <% end %>

    <!-- Navigation / Menu -->
    <nav class="js-menu sliding-panel-content">
      <%= admin_links %>
    </nav>
    <div class="js-menu-screen sliding-panel-fade-screen"></div>

    <!-- Main Content Yeiled by Views -->
    <main>
      <%= yield %>
    </main>

    <!-- Footers -->
    <footer>
        <div class="builtBy">
            <span class="built">Built</span>
            <span class="by">By </span>
            <span class="wvu">WVU</span>
            <span class="libs">Libraries</span>
        </div>
    </footer>
  </body>
</html>
