<!DOCTYPE html>
<html>
  <head>
    <title> WVU Libraries :: Lib Management Tool </title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Skip to Navigation --> 
    <a class="wvu-skip-nav" href="#maincontent">Skip to main content</a>

    <header class="wvu-masthead">
      <div class="wvu-masthead__container"> 
        <a class="header-logo" href="/"> Library Managment Tool </a>
        <div class="button-container">  
        <%= link_to "Login", "/admin", :class=>"button admin-button" %>
        </div> 
      </div> 
    </header> 

    <!-- Flash Messages / Alerts -->
    <% flash.each do |key, value| %>
      <div class="alert <%= key %>">
        <div class="content"> <%= value %> </div>
        <span class="exit-alert"> <i class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
      </div>
    <% end %>

    <!-- Main Content Yeiled by Views -->
    <div class="wvu-container">
      <%= yield %>
    </div>

    <!-- Footers -->
    <footer>
        <div class="builtBy">
            <span class="built">Built</span>
            <span class="by">By </span>
            <span class="wvu">WVU</span>
            <span class="libs">Libraries</span>
        </div>
    </footer>
  </body>
</html>
