<!DOCTYPE html>
<html>
  <head>
    <title>Vagrant</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1> Library Management Tool </h1>
    </header>
    <div class="userManagement">
      <% if authenticated? %>
        <span>You are logged in.</span>
        <span style="float:right"><%= link_to "Logout", logout_url %></span>
      <% else %>
        <span>You are not logged in.</span>
        <span style="float:right"><%= link_to "Login", login_url %></span>
      <% end %>
    </div>

    <% flash.each do |key, value| %>
      <div class="alert <%= key %>">
        <div class="content"> <%= value %> </div>
        <span class="exit-alert"> <i class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
      </div>
    <% end %>


    <main>
      <%= yield %>
    </main>

    <footer>
        <div class="builtBy">
            <span class="built">Built</span>
            <span class="by">By </span>
            <span class="wvu">WVU</span>
            <span class="libs">Libraries</span>
        </div>
    </footer>
  </body>
</html>
